{% extends "recognizer/base.html" %}
{% load static %}

{% block title %}
    Recognize - Get emotion from Upload
{% endblock title %}

{% block content %}
    <a id="download">Download</a>
    
    {% if form %}
        <form action="{% url 'recognize:get_emotion' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Upload</button>
        </form>
    {% else %}
        <div id="body">
            <p class="text-center">Record<br></p>
            <button id="recordButton" class="btn btn-primary" id="get_emotion_btn" type="button">Let's
                begin</button>
            <button id="stopButton" class="btn btn-primary" id="get_emotion_btn" type="button">Stop</button>
        </div>
        {% csrf_token %}
        <ol id="recordingsList"></ol>
    {% endif %}

    <script src="{% static 'js/recorder.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock content %}