{% extends "recognizer/base.html" %}
{% load static %}

{% block title %}
    Recognize
{% endblock title %}

{% block content %}

    <div id="body">
        <p class="text-center">Hi there!<br></p>
        <p class="text-center">Welcome to Talky. In order for this app to work smoothly, we’d like to know your voice. Don’t
            worry, we don’t save your recording. View more about your privacy.<br></p>
        <a href="{% url 'recognize:get_emotion' %}"><button class="btn btn-primary" id="get_emotion_btn" type="button">Let's begin</button></a>
    </div>
    
{% endblock content %}