{% extends "recognizer/base.html" %}
{% load static %}

{% block title %}
    Recognize - Privacy
{% endblock title %}

{% block content %}

    <div class="center">
        <p style="font-family: montserrat;font-weight: bold;font-size: 320%;">Privacy</p>
        <p style="font-family: 'Open Sans', sans-serif;">Privacy is a fundamental human right. With Recognize, it’s one core
            value.&nbsp;Recognize was designed from the beginning to identify your emotion without knowing your identity.
            You don’t sign-in or sign-up with your email. Your voice is your data and we believe it's up to you to share and
            with whom you share with.<br><br>When Recognize does process or store data on our servers, it’s associated with
            a random identifier — a string of letters and numbers. That data is used identify your emotion and deleted
            immediately after processing.<br></p>
    </div>

{% endblock content %}